/* Image de fond floue */

body {
    display: flex;
    justify-content: flex-end; /* décalage à droite */
    align-items: center;       /* centré verticalement */
    min-height: 100vh;
    background: url('https://cdna.artstation.com/p/assets/images/images/047/160/908/original/pxsprite-space.gif?1646911392') no-repeat center center fixed;
    background-size: cover;
    justify-content: flex-end;
    padding-right: 200px; /* espace du bord droit */
}
/* Ajouter un filtre flou derrière le container */
.login-container {
    width: 350px;
    padding: 40px 30px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
    border: 1px solid rgba(255,255,255,0.3);
    color: #ffffff;

    /* Décalage à droite */
    margin-left: 50px; /* tu peux ajuster */
}
/* Texte logo Instagram */
.logo-text {
    font-family: 'Pacifico', cursive; /* style manuscrit comme Instagram */
    font-size: 48px;
    color: #ffffff; /* blanc, change selon ton thème sombre */
    padding-bottom: 20px;
}


/* Pour ajouter un effet de dégradé type Instagram */
.logo-text.gradient {
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Bouton connexion */
.login-button {
    background-color: #3897f0;
    color: #fff;
    border: none;
}

.login-button:hover {
    background-color: #2b76c6;
}


/* Lien mot de passe oublié */
.forgot-password {
    margin-top: 15px;
    font-size: 12px;
    color: #8a0c9b;
    cursor: pointer;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Inputs */
.input {
    margin-bottom: 10px;
    box-sizing: border-box;
}

.signup-text {
    margin-top: 15px;
    font-size: 12px;
    color:#8a0c9b;
    cursor: default;
}

.signup-text a {
    color: #405de6;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s;
}

.signup-text a:hover {
    color: #833ab4;
}